@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left:0;
    bottom:-100%;
    border-radius: 30%;
    transition: all ease 0.4s;
     
}

.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 50;
}

.nav-part2 h4 a{
    color: rgba(0, 0, 0, 0.733);
    position: relative;
    z-index: 9;
}
.nav-part2 h4:hover a{
    color: white; 
}
.center .right {
    line-height: 150px;
}

.hero-1{
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
.hero-2{
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
.hero-3{
    animation-name: anime3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes anime1 {
    from{
        transform: translate(40% , -15%);
    }
    to{
        transform: translate(20% , 10%);
    }
    
}
@keyframes anime2 {
    from{
        transform: translate(5% , 15%);
    }
    to{
        transform: translate(20% , -20%);
    }
    
}
@keyframes anime3 {
    from{
        transform: translate(-5% , -15%);
    }
    to{
        transform: translate(5% , -5%);
    }
    
}

.moving-text h1{
    display: inline-block;
}
.gola{
    display: inline-block;
    margin: .7vw 1vw;
}

.moving-text{
    overflow-x: auto;
}
.moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    animation-name: anime4;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anime4 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

.gooey{
    animation-name: gooey;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes gooey {
    from{
        filter: blur(20px);
        transform: translate(10% , -10%) skew(0);
    }

    to{
        filter: blur(30px);
        transform: translate(-10% , 10%) skew(15deg);
    }
    
}


.elem:hover .overlay{
    top:0;
}

.fixed-image{
    display: none;
    z-index: 99;
    position: absolute;
}

.button h3::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    bottom: -100%;
    left:0%;
    transition: all ease .5s;
}


.button h3:hover::after{
    bottom:0;
    border-radius: 100px;
}

.button h3:hover a{
    color: white;
    position: relative;
    z-index: 99;
}


